body {
    font-family: "Arial"
}

.main-image {
    border: solid 4px black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all .5s;
}

h1 {
    background-color: #e2e2e2;
    padding: 10px;
    display: inline-block
}

.section-title {
    text-transform: uppercase;
}
