.font-resume {
    font-family: "Arial"
}

header .main-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
  
}

header .main-image:hover {
    transform: scale(1.2) rotate(360deg);
}

h1 {
    background-color: #e2e2e2;
    padding: 10px;
    display: inline-block
}

.section-title {
    text-transform: uppercase;
}
