/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body { 
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #0D0D0D;
  background-color: #0D0D0D;
}
/* Link Styles */

a { /* selector: select which HTML tag you want to style */ 
  text-decoration: none; /* styling instructions */
  color: #51A69D; /* purple text are the ccs properties */
}
a:hover {
  color: #BFBFBF;
}

/* Section Styles */

.main-nav { /* styling by class */ 
  width: 100%;
  background: #0D0D0D;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: none;
   letter-spacing: .9px;
}

.nav li {
  padding: 5px 10px 10px 10px;
  letter-spacing: .9px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover {
  color: white;
}

header {
  text-align: center;
  background: url('images/somerset.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #0D0D0D;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  background-color: #0D0D0D;
  color: #51A69D;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #BFBFBF;
  color: #0D0D0D;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #BFBFBF;
  border-bottom: 4px solid #0D0D0D;
  border-radius: 60px;
  border-left: 4px solid #0D0D0D;
  border-top: 4px solid #0D0D0D;
  border-right: 4px solid #0D0D0D;
  transition: all .5s;
}
.card:hover {
  border-color: #51A69D;
  transform: scale(1.2);
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 0px;
  font-size: .75em;
  color: whitesmoke;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 5px;
}

footer ul li a {
    opacity: 0.8;
    font-size: 30px
}

footer ul li a i.fa-twitter:hover {
  color: white;
  opacity: 1;
  
}

footer ul li a i.fa-instagram:hover {
  color: orange;
  opacity: 1;
}

footer ul li a i.fa-github:hover {
  color: black;
  opacity: 1;
}

footer ul li a i.fa-linkedin:hover {
  color: skyblue;
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
    font: "Arial";
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
    font: "Arial";
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 200px auto;
    margin-bottom: auto;
  }

}


.card-title { /* styling by class */
    text-align: center;
    border-radius: 60px;
    letter-spacing: .9px;
}

